nav {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    height: 50px;
    line-height: 50px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0 10px 0 10px;
    margin: 0;
    list-style: none;
    background-color: #4CAF50;
}

nav ul li {
    display: inline;
    border-right: 1px solid white;
    padding: 0 10px;
}

li:first-child {
    border-left: 1px solid white;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background-color: #45a049;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.main-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#shopping .main-container {
    flex-direction:column;
}

.column-left {
    flex: 1;
    max-width: 72%;
}

.column-right {
    flex: 1;
    max-width: 28%; /* Aby zapewnić odstęp między kolumnami */
}

.column-right h2, #damages h2, #actions h2 {
    text-align: center;
}

.pos-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.column-left h2 {
    margin-left:20px;
}
.pos-inner {
    display: flex;
    justify-content: space-between;
}
.inner-left, .inner-right, .inner-shopping, .inner-full{
    padding: 20px;
    border: 5px solid #4CAF50;
    border-radius: 14px;
}
.inner-left, .inner-right {
    width: 48%;
    margin: 20px;
}
.inner-left:hover, .inner-right:hover, .inner-shopping:hover {
    border-color:#45a049;
    background-color: #45a04912;
    cursor: pointer;
}

.inner-left h3, .inner-right h3, .column-right h3 {
    margin: 10px 0;
}

.main-container table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}
.main-container table th {
    text-align:left;
    background-color: #4CAF50;
}
.main-container table th:first-child {
    border-top-left-radius: 16px;
}
.main-container table th:last-child {
    border-top-right-radius: 16px;
}
.main-container table th, .main-container table td {
    padding: 10px;
    border-right: 1px solid white;
}
.main-container table td {
    border-right: 1px solid #45a049;
    border-top: 1px solid #45a049;
}
.main-container table tr td:last-child {
    border-right: none;
}
.shopping-list li {
    font-size: 1.25rem;
    padding: 6px;
}

#damages .column-left, #damages .column-right, #actions .column-left, #actions .column-right  {
    flex: 1;
    max-width: 50%;
    margin: 30px;
}
#shopping .inner-full:first-child {
    margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
    .main-container {
        flex-direction:column;
    }

    .column-left, .column-right {
        max-width: 100%;
        margin-bottom: 20px;
    }
}